[submodule "sub-module"]
	path = sub-module
	url = https://github.com/tanghaichuan/sub-module.git
[submodule "sub-module-2"]
	path = sub-module-2
	url = https://github.com/tanghaichuan/sub-module-2.git
	branch = dev
